{% extends 'base.html' %}
{% load static %}
   
 {% block content %}
    
   <div class="px-4">
    <br><br><section class="section hero" id="home" aria-label="hero">
        <div class="container-fluid">
          <div class="hero-content">
            <img src="{% static 'image/blood-icon.png' %}" alt="ICON" width="70" height="70"> 
            <h1 class="h1 hero-title">Our Vision</h1>
            <p class="hero-text">
              our vision is to create a centralized hub that connects blood donors and recipients in need. We envision a future where finding a suitable blood donor
              is no longer a time-consuming and challenging task. Instead, it becomes a simple, efficient, and accessible process that can save lives during critical moments. Also we tried
              our best in creating a user-friendly interface for this site so normal users can navigate and use our services easly.
            </p>
          </div>
        </div>
      </section><br><br>
      <!--Hero THIRD-->

    <section class="section hero" id="home" aria-label="hero">    
    <div class="container-fluid">
    <div class="row">
        
    </div>
    </div>
   </section><br><br>

      <!--Hero FOURTH-->

</div>

{% endblock %}