{% extends 'base.html' %}
{% load static %}
   
 {% block content %}
    
   <div class="px-4">
    <br><br><section class="section hero" id="home" aria-label="hero">
        <div class="container-fluid">
          <div class="hero-content">
            <img src="{% static 'image/blood-icon.png' %}" alt="ICON" width="70" height="70"> 
            <h1 class="h1 hero-title">Our Vision</h1>
            <p class="hero-text">
              Our vision is to create a centralized platform that connects food lovers with a diverse array of recipes, making cooking at home both enjoyable and accessible. We aim to simplify the process of discovering new dishes, managing ingredients, and sharing culinary creations.

We envision a future where finding the perfect recipe for any occasion is easy and quick, turning everyday cooking into an exciting experience. Our focus is also on providing a user-friendly interface so that anyone—whether you're a beginner or a seasoned chef—can navigate and enjoy our services effortlessly.
            </p>
          </div>
        </div>
      </section><br><br>
      <!--Hero THIRD-->

    <section class="section hero" id="home" aria-label="hero">    
    <div class="container-fluid">
    <div class="row">
        
    </div>
    </div>
   </section><br><br>

      <!--Hero FOURTH-->

</div>

{% endblock %}